body {
  margin: 0;
  padding: 0;
  background: #eee;
  font-family: "Open Sans", sans-serif;
}

.container {
  margin: auto;
  width: 100%;
  max-width: 960px;
  background: #fff;
}

.logo {
  margin: 0;
  padding: 1rem;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 3em;
  position: relative;
  letter-spacing: -0.06em;
}

/* Mobile First */
nav a {
  margin: .25em .25em;
  display: block;
  line-height: 1em;
  background: #eee;
  padding: .5em 1.5em;
  margin: .5em .25em;
  text-decoration: none;
  color: #222;
}
nav a:hover {
  background: #ddd;
}
nav ul {
  margin: 0 .5em;
  padding: 0;
}
nav ul li {
  display: inline;
  margin: 0;
  padding: 0;
}

.enhanced nav ul {
  max-height: 0;
  overflow: hidden;
}

.enhanced nav ul.open {
  max-height: 20em;
}

@media screen and (min-width: 480px) {
  mbody {
    background: blue;
  }

  nav .skip {
    visibility: hidden;
    position: absolute;
  }
  nav a {
    line-height: 1em;
    background: #eee;
    text-decoration: none;
    color: #222;
  }
  nav ul li a {
    display: inline-block;
  }

  .enhanced nav ul {
    overflow: auto;
    max-height: inherit;
  }
}
